{% extends "work/work_base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block work_content %}
<div class="container">
  <div class="row">
    <h2>Property List - Quarterly / Biannual Sweeps</h2>
  </div>

<ul class='list-group'>
{%for property in object_list %}
<li class='list-group-item list-group-item-info'> <a href="{% url 'shifts:update_property' pk=property.pk%}"> {{property.name}} | {{property.display_name}} |<br> <b>Times Per Year: {{property.times_per_year}} ({{property.memo}}) </b></a></li>
  <li class='list-group-item'><ul class='list-group'>{%for job in property.recent_jobs %}
  <li class='list-group-item'> <a href='{% url 'shifts:update' pk=job.job_shift.pk%}'> <span class="{{property.color}}" aria-hidden="true"></span> {{job.job_shift}} </a> </li>

  {%endfor%}</ul></li>
  </li>
  {%endfor%}
</ul>

</ul>
</div>
</div>
{% endblock %}
