{% extends "work/work_base.html" %}

{% block prework %}

    <div class="content">

      {% if user.is_authenticated %} <em><h4>Welcome Back! @{{user.username}}</h4></em>

      {% endif %}

    </div>

    {% if user.is_authenticated %}

    {% endif %}

{% endblock %}

{% block work_content %}

{% regroup object_list by date as date_list %}


    <div class="list-shift-item-text">
    {% for date, shift_list in date_list  %}
        <p class="date-summary-shiftDate">Jobs from {{date|date:"l, F j"}}<p>

<ul class='date-summary-shift-li'>
        {% for shift in shift_list %}
      <li >

        <a class='list-shift-item' href="{% url 'shifts:update' pk=shift.pk %}">
          <p class='title date-summary-heading'>{{shift.driver|safe}} + {{shift.helper|safe}} ({{shift.shift_length|floatformat}} hrs, {{shift.jobs_in_shift.count}} jobs)</p></a>
          <ol>{% for job in shift.jobs_in_shift.all  %}
          <li><p>{{job.job_location}} - {{job.start_time|time:"P"}} to {{job.end_time}} ({{job.job_length|floatformat}} hr)</p></li>
          {% endfor %}</ol>

      </li>
        {% endfor %}
  </ul>
  {#  Add more description?#}

    {% endfor %}
    </div>
</div>
{% endblock %}
