
{% extends "work/work_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block work_content %}

<html lang='en'>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MOBS v1.8c</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'mobs/js/jqueryui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'mobs/css/base.css' %}">

    <link rel="stylesheet" href="{% static 'mobs/css/calendar_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>

  </head>
  <!-- Add an additional blue button style -->

  <a href="{% url 'work:calendar' month=lmonth year=lyear %} ">LAST MONTH</a>

    <a href="{% url 'work:calendar' month=nmonth year=nyear %} ">NEXT MONTH</a>

{{calendar}}


  {% endblock %}
</html>
