{% extends "work/work_base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block work_content %}
<div class="container">
  <div class="row">
    <h2>Property Inspection List</h2>
  </div>
  <div class="row propInspecList2">
    <p><a href="{%url 'shifts:inspections' priority=2%}">Full list</a> | <a href="{%url 'shifts:inspections' priority=1%}">Truncated list</a></p>
  </div>
  <div class='row'>
{% regroup object_list by county as object_list_1%}
<ul class='list-group'>
{%for county, property_list in object_list_1 %}
<li class='list-group-item list-group-item-info'>{{county}}</li>
  <li class='list-group-item'><ul class='list-group'>{%for property in property_list %}
  <li class='list-group-item'>  <span class="{{property.color}}" aria-hidden="true"></span> {{property.name}} ({{property.address}}, {{property.city}})</li>
  <ul>{%for inspection in property.inspection.all|slice:":3"%}
  <li class='inspectionListItem list-group-item'><a class='{{inspection.color}}' href='{%url 'shifts:inspection_update' pk=inspection.pk  %}'>{{inspection.date|date:"M d"}} ({{inspection.days_since}} days ago) - {{inspection.rating}} / 10 - {{inspection.description}}</a></li>
      {%endfor%}
      <li class='inspectionListItem list-group-item'> <a href='{%url 'shifts:new_inspection_pk' pk=property.pk%}'><i class='fas fa-plus'></i> Add inspection</a> </li>
  </ul>
  {%endfor%}</ul></li>
  </li>
  {%endfor%}
</ul>
</div>
</div>
{% endblock %}
