{% extends "work/work_base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block work_content %}

<h2>Property Inspection List</h2>
<div class='container'>
{% regroup object_list by zipcode as object_list_1%}
<ul>
{%for zipcode, property_list in object_list_1 %}
<li>{{zipcode}}</li>
  <ul>{%for property in property_list %}
  <li class='{{property.color}}'>{{property}}</li>

  <ul>{%for inspection in property.inspection.all|slice:":3"%}
  <li><a class='{{inspection.color}}' href='{%url 'shifts:inspection_update' pk=inspection.pk  %}'>{{inspection.date|date:"M d"}} ({{inspection.days_since}} days ago) - {{inspection.rating}} / 10 - {{inspection.description}}</a></li>
      {%endfor%}
      <li> <a href='{%url 'shifts:new_inspection_pk' pk=property.pk%}' >Add inspection</a> </li>
  </ul>


  {%endfor%}</ul>
  </li>
  {%endfor%}
</ul>
</div>
{% endblock %}
