{% extends "work/work_base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block work_content %}
{% regroup prop by client_name as client %}

<div class="container jobCosting">
<div class="row">
  <div class="col"> <ul class='reportHeader reportHeader-l'>
    <li>Job cost report</li>
    <li>Generated: {%now "m/d/y"%}</li>
  </ul>
    </div>
  <div class="col"> <ul class='reportHeader reportHeader-r'>
    <li>Mobile Sweep Services, Inc.{{full}}</li>
    <li>All customers {%if full == "all" %} including e-bill (USM, Wal-mart){%else%} excluding e-bill (USM, Wal-mart){%endif%} </li>
    {%if full == "all" %}<li><a href="{%url 'shifts:job_costing' begin=begin end=end full='0'%}">Exclude e-bill</a> </li>
    {%else%}<li><a href="{%url 'shifts:job_costing' begin=begin end=end full='all'%}">Include e-bill</a> </li>{%endif%}
    <li>All services</li>
    <li>All employees</li>
    <li>Serviced between {{begin}} - {{end}}</li>
    <li>Costs based on <strong>$53</strong> per hour</li>
  </ul></div>
</div>

<div class='row'>
<table class='table table-sm jobCostingTable'>

{%for c in client%}
<tbody>
  <tr class='jobCostingTable-custRow'><td colspan=13>{{c.grouper}}</td></tr>
  {% for p in c.list %}
    {%if p.jobs%}
    <tr class='jobCostingTable-propRow'>
      <td colspan=13>{{p.name}} </td>
    </tr>

    <thead>
      <tr><th></th>
      <th>#</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Helper</th>
      <th class='jobCostingTable-rightData'>In</th>
      <th class='jobCostingTable-rightData'>Out</th>
      <th class='jobCostingTable-rightData'>Est. time (hr)</th>
      <th class='jobCostingTable-rightData'>Act. time (hr)</th>
      <th class='jobCostingTable-rightData'>Act. cost ($)</th>
      <th class='jobCostingTable-rightData'>Price ($)</th>
      <th class='jobCostingTable-rightData'>Est. $/h</th>
      <th class='jobCostingTable-rightData'>Act. $/h</th></tr>
    </thead>

      {% for j in p.jobs %}
        <tr> <td></td>
          <td> {{forloop.counter}}.</td>
          <td> {{j.job_shift.date|date:"m/d/y"}}</td>
          <td> {{j.job_shift.driver}} </td>
          <td> {{j.job_shift.helper}} </td>

          <td class='jobCostingTable-rightData'>{{j.start_time}}</td>
          <td class='jobCostingTable-rightData'>{{j.end_time}}</td>
          <td>  </td>
          <td class='jobCostingTable-rightData'> {{j.job_length|floatformat:"2"}} </td>
          <td class='jobCostingTable-rightData'> {{j.job_cost|floatformat:"2"}} </td>
          <td class='jobCostingTable-rightData'> {{p.sw_price|floatformat:"2"}} </td>
          <td class='jobCostingTable-rightData'> {{j.e_dph|floatformat:"1"}} </td>
          <td class='jobCostingTable-rightData'> {{j.a_dph|floatformat:"1"}} </td>
        </tr>
      {%endfor%}
      <tr class='jobCostingTable-totalRow'> <td></td>
        <td class='jobCostingTable-totalLabel' colspan=6> Total for {{p.name}}</td>
        <td class='jobCostingTable-rightData'> {{p.job_est_total|floatformat:"-2"}}  </td>
        <td class='jobCostingTable-rightData'> {{p.job_total|floatformat:"2"}} hrs </td>
        <td class='jobCostingTable-rightData'> ${{p.cost_total|floatformat:"2"|intcomma}} </td>
        <td class='jobCostingTable-rightData'> {% if p.sw_mo_price%}${{p.sw_mo_price|floatformat:"2"|intcomma}} <div class='jobCostingTable-info'>Contract</div>  {%elif p.sw_total_price %}${{p.sw_total_price|floatformat:"2"|intcomma}} <div class='jobCostingTable-info'>Calculated</div> {%endif%}</td>
        <td>  </td>
        <td class='jobCostingTable-rightData'>${{p.a_dph_avg|floatformat:"1"}} <div class='jobCostingTable-info'>Average</div></td>
        </tr>
    {%endif%}
  {%endfor%}
  {%endfor%}
  </tbody>

</table>
</div>
<div class="container JobCosting2">
{{prop}}

</div>
</div>
{% endblock %}
