{% extends "work/work_base.html" %}
{% load static %}

{% load widget_tweaks %}
{% load humanize %}
{% block work_content %}

<div>
<div class='row'>
  <div class="">
  <h3>Job list - showing jobs from {{begin}} to {{end}} </h3>
  </div>

  <div class="row">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dateRange" aria-expanded="false" aria-controls="collapseExample">
      Change dates?
    </button>
  </div>
</div>
<div class="col collapse" id="dateRange">

    <form class="" action="" method="post">
      	{% csrf_token %}
        {{date_form.non_field_errors}}
      <div class='row'>
        <div class='col-5'>{{date_form.begin|add_class:"form-control"}}</div>
        <div class='col-5'>{{date_form.end|add_class:"form-control"}}</div>
        <div class='col-2'><input class='btn btn-primary' type="submit" name="" value="Go"></div>
      </div>
    </form>
</div>
</div>

<div class="container jobCosting">
<table class="table table-sm table-bordered">
  <thead><tr> <th>Name</th> <th>Sweep Price</th> <th>Sweep Price</th> <th>Sweep Month Contract Price</th> <th>Times Per Mo</th> <th>Times Per Week</th> <th>Date</th> <th>In</th> <th>Out</th> </tr>
  </thead>
  <tbody>
    <!-- <tr>
      <td>{{p.name}}</td> <td></td>
    </tr> -->
    {% for j in job_list%}
    
    <tr> <td>{{j.job_location}}</td> <td>{{j.job_location}}</td> <td>{{j.job_location.sw_price}}</td> <td>{{j.job_location.sw_mo_price}}</td> <td>{{j.job_location.times_per_month}}</td> <td>{{j.job_location.times_per_week}}</td> <td>{{j.job_shift.date|date:"Y-m-d"}}</td><td>{{j.start_time|time:"H:i"}}</td> <td>{{j.end_time|time:"H:i"}}</td></tr>
    
    {%endfor%}
  </tbody>
  </table>

</div>
{% endblock %}
