  {% extends "work/work_base.html" %}


{% load staticfiles %}
<link rel="stylesheet" href="{% static '/css/master.css' %}">
<img src="{% static 'unnamed.png'%}" alt="">

{% block prework %}

  <div>
    <div class="card card-with-shadow">
      <div class="content">
        <h1 class='title'>{{month}} Job Report</h1>
        <h4><em>Showing all jobs from {{begin}} to {{end}}</em></h4>
<table class='table table-condensed'>
   {% for p in prop %}
              <tr class='info jLFirstRow' ><td class='jobListFirstRow' ><h4>{{p}} - {{p.client_name}}</h4></td></tr>

                  <tr class='jobListMiddleRow'><td><ol>{% for s in p.jobset %}
                    <li><a href="{% url 'shifts:update' pk=s.job_shift.pk %}">{{s.job_shift.date|date:"D M d Y"}} - {{s.job_shift.driver}} / {{s.job_shift.helper}} - {{s.job_length}} hours</a></li>

                  {% endfor %}</ol></td></tr>

                  <tr class='jobCostSum' ><td id='jobListLastRow'><h5>Total shifts: {{p.job_num}} || Total length: {{p.job_total}} hrs || Average length: {{p.job_avg|floatformat:"-2"}} hrs</h5></td></tr>
        {% endfor %}
</table>

      </div>
    </div>
  </div>

{% endblock %}
