{% extends "work/work_base.html" %}

{% load bootstrap3 %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static '/css/master.css' %}">
<img src="{% static 'unnamed.png'%}" alt="">

{% block prework %}


  <div class="container">
    <div class="card card-with-shadow">
      <div class="content">
        <h1 class='title'>Payroll Report</h1>
        <h3>{{begin}} to {{end}}</h3>
          <table class='table'>
          <thead>
            <th>Employee</th>
            <th>Shifts</th>
            <th>Total hours</th>
          </thead>

          {%for emp in emp_mix%}<tr>
            <td>{{emp.employee}}</td>
            <td>{%for empjob in emp.jobs%}
            {{ empjob.date|date:"M j"}} ({{empjob.shift_length  }} hrs){% if not forloop.last %}, {% endif %}{%endfor%}</td>
          <td>  {{emp.total}}</td>
          </tr>
          {%endfor%}
          </table>

          <table class='table'>
              <thead>
                <th>Date</th><th>Driver</th><th>Driver hours</th><th>Helper</th><th>Helper hours</th>
              </thead>
              {% for l in shift_list%}
              <tr><td>{{l.date}}</td> <td>{{l.driver}}</td>  <td>{{l.length}} </td> <td>{{l.helper}}</td> <td>{{l.he_length}}</td></tr>
              {%endfor %}
          </table>

          <table class='table table-sm'>
             {% for p in shift %}
                        <tr><td id='jobListFirstRow' ><h4>{{p.date|date:"D M j Y"}} - {{p.driver}} / {{p.helper}} - D: {{p.shift_length}} H: {{p.help_length}} hours</h4></td></tr>

                            <tr><td><ol>{% for s in p.jobs_in_shift.all %}
                              <li><a href="{% url 'shifts:update' pk=s.job_shift.pk %}">{{s.job_location}} - {{s.job_shift.driver}} / {{s.job_shift.helper}} - {{s.job_length}} hours</a></li>

                            {% endfor %}</ol></td></tr>

                  {% endfor %}
          </table>
      </div>
    </div>
  </div>

{% endblock %}
