
{% extends "work/work_base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block work_content %}

{{record}}

<br>

{% for s in shifts %}
<strong>{{s}} </strong> - <br>
{% for j in s.jobs_in_shift.all %}
{{j.job_location}} <br>

{%endfor%}
{%endfor%}

<div class="container">
prop - TPW - TPM - TPY
  {% for property in object_list %}

    <div class="row">{{property}} - {{property.times_per_week}} - {{property.times_per_month}} - {{property.times_per_year}}</div>

  {%endfor%}

</div>


{% endblock %}
