
{% extends "work/work_base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block work_content %}

<div class="container">
<table class='table-striped'>
  <thead>
    <th width=60%>Prop</th>
    <th width=10%>Target</th>
    <th width=10%>Completed</th>
    <th width=10%>Scheduled</th>
    <th width=10%>Difference</th>
  </thead>
  {% for property in prop_list %}
  <tr>
    <td>{{property}}</td>
    <td>{{property.month_target}}</td>
    <td>{{property.completed}}</td>
    <td>{{property.remaining}}</td>
    <td class={{property.difference_class}}>{{property.difference}}</td>
  </tr>
    {%endfor%}
</table>

</div>
{% for s in shifts %}
<strong>{{s}} </strong> - <br>
{% for j in s.jobs_in_shift.all %}
{{j.job_location}} <br>

{%endfor%}
{%endfor%}

<h5>Meta Check</h5>
Properties in above list: {{prop_list.count}} <br>
<a data-toggle='collapse' href="#route_list">Unique properties on route schedule: {{num_routes}}</a> <br>
<div class="collapse" id='route_list'>
  {% for prop in route_prop_list %}
   {{prop}}<br>
   {% endfor %}
</div>

<a data-toggle='collapse' href="#schedule_list">Unique properties actually scheduled/completed this month: {{rfl_count}}</a>
<div class="collapse" id='schedule_list'>
  <ul>
    {% for r in record_full %}
    <li>{{r}}</li>
    {% endfor %}
  </ul>
</div>
<br> <br>
Properties scheduled/completed this month missing from above table:
<ul>
  {% for s in schedule_minus_prop_list %}
  <li>{{s}}</li>
  {% endfor %}
</ul>

Properties on weekly schedule missing from above table:
<ul>
  {% for r in rpl_minus_prop_list%}
  <li>{{r}}</li>
  {%endfor%}
</ul>

Properties on above table missing from actually scheduled/completed work:
<ul>
  {% for p in prop_list_minus_schedule %}
  <li>{{p}}</li>
  {% endfor %}
</ul>
<br>

Properties on above table missing from weekly schedule:
<ul>
  {% for p in prop_list_minus_rpl %}
  <li>{{p}}</li>
  {% endfor %}
</ul>
{% endblock %}
