{% extends "work/work_base.html" %}
{{formset.media.css}}

{% load staticfiles %}

{% load widget_tweaks %}

{% block prework %}
<!-- Include formset plugin - including jQuery dependency -->
{% endblock %}


{%block work_content%}
<div class="container">
  <ul class='list-group'>
<li class='list-group-item'>{{object.name}} ({{object.display_name}})</li>
<li class='list-group-item'>{{object.client_name}}</li>
<li class='list-group-item'>{{object.address}}, {{object.city}}</li>
  </ul>
<br>
Showing last {{object.last_ten_num}} jobs:
<ul class='list-group'>
  {% for object2 in object.last_ten %}
  <li class="list-group-item">  <a href="{% url 'shifts:update' pk=object2.shift.pk %}"> {{object2.shift}} </a> </li>
  {% endfor %}
</ul>
  </div>



{%endblock%}
