
{% extends "work/work_base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block work_content %}

<div class="container">
<table class='table-striped'>
  <thead>
    <th width=60%>Prop</th>
    <th width=10%>Target</th>
    <th width=10%>Completed</th>
    <th width=10%>Scheduled</th>
    <th width=10%>Difference</th>
  </thead>
  {% for property in prop_list %}
  <tr>
    <td>{{property}}</td>
    <td>{{property.month_target}}</td>
    <td>{{property.completed}}</td>
    <td>{{property.remaining}}</td>
    <td class={{property.difference_class}}>{{property.difference}}</td>
  </tr>
    {%endfor%}
</table>

</div>
{% for s in shifts %}
<strong>{{s}} </strong> - <br>
{% for j in s.jobs_in_shift.all %}
{{j.job_location}} <br>

{%endfor%}
{%endfor%}

Meta Check:
Properties in list: {{prop_list.count}} <br>
Unique properties on route schedule: {{num_routes}} <br> <br>
{% for prop in route_prop_list %}
 {{prop}}<br>
 {% endfor %}

{% endblock %}
