{% extends "work/work_base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block prework %}

{% endblock %}

{% block work_content %}
<div class="container-fluid">


<div class="row">

</div>
<h3>Commercial / Monthly - Route templates and generator</h3>

<div class="">
  <form class="form-inline" action="" method="post">
      {% csrf_token %}
      Select Date and Route: {{date_form.begin|add_class:"form-control"}}
      {{route_form.route_select|add_class:"form-control"}}
      <input class='btn btn-warning' type="submit" name="" value="Create Route">
  </form>
</div>
<br>
<div class="">
{% regroup object_list by dow as route_list%}
<table class='table table-sm route-table'>
{% for dow in route_list %}
<tr class='table-primary'>
  <td colspan=4>Day of week: {{dow.grouper}}</td>
</tr>

<tr>
{% for route in dow.list %}
{% if forloop.counter0|divisibleby:7 %}<tr>{% endif %}
<td>{{route.route_num}}. {{route.driver}}
<table class='route-table-jobs'>
  {% for prop in route.job_route.all %}
    <tr>
      <td class="{% if prop.freq == "even" %}yellow{% elif prop.freq == "odd" %}green{%endif%}">{{prop.order}}  {{prop.route_location.name|truncatechars:30}}</td>
    </tr>
  {% endfor %}
</table>
</td>
{% if forloop.counter|divisibleby:7 or forloop.last %}</tr>{% endif %}
{% endfor %}
</tr>
{% endfor %}
</table>

</div>
</div>
</div>
{% endblock %}
