{% extends "work/work_base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block prework %}

{% endblock %}

{% block work_content %}
<div class="container-fluid">


<div class="row">

</div>
<h3>Route templates and generator</h3>

<div class="">
  <form class="form-inline" action="" method="post">
      {% csrf_token %}
      Start date: {{date_form.begin|add_class:"form-control"}}
      End date: {{date_form.end|add_class:"form-control"}}
      <input class='btn btn-warning' type="submit" name="" value="Apply below route templates to dates? (cannot be undone)">
  </form>
</div>
<br>
<div class="">


{% regroup object_list by dow as route_list%}
<p class='yellow'>Yellow = Even weeks only</p>
<p class='green'>  Green = Odd weeks only</p>
<p class='blue'>  Blue = First week of month</p>
<p class='red'>  Red = Second week of month</p>
<table class='table table-sm route-table'>
{% for dow in route_list %}
<tr class='table-primary'>
  <td colspan=8>Day of week: {{dow.grouper}}</td>
</tr>
{% for route in dow.list %}

<td>{{route.route_num}}. {{route.driver}}
<table class='route-table-jobs'>
  {% for prop in route.job_route.all %}
    <tr>
      <td class="{% if prop.freq == "even" %}yellow{% elif prop.freq == "odd" %}green{% elif prop.freq == "first" %}blue{% elif prop.freq == "second" %}red{%endif%}">{{prop.order}}  {{prop.route_location.display_name|truncatechars:25}}</td><td>{{prop.route_location.sweep_price}}</td>
    </tr>
  {% endfor %}
  <!-- <tr>
    <td>Total:</td><td align=right>${{route.route_price}}</td>
  </tr> -->
</table>
</td>

{% endfor %}
{% endfor %}
</table>

</div>
</div>
</div>
{% endblock %}
