
{% extends "work/work_base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}
{% block work_content %}

<div class="container-fluid">
  <form class="" action="" method="post">
    {% csrf_token %}
    {{ form.management_form }}
    <div class="row">
      {%for d in date_list%}
      <div class="col">
        {{d}}<br>{{d|date:"l"}}

          <div class="row">
            {%for f in form%} {{f.id}} {{f.date.as_hidden}} {{f.errors}}
            {% if f.date.value|date:"d" == d|date:"d" %}


            <div class="col-6"> {% if f.driver.value  %} {{f.driver}} {% else %} blank {% endif %}</div>
            <div class="col-6"> {% if f.driver.value  %} {{f.helper}} {% else %} blank {% endif %}</div>


            {% endif %}
            {% endfor %}
          </div>
          <div class="row">OFF: <br>
            {% for key, value in missing_date_dict.items %}
            {% if key|date:"d" == d|date:"d" %}
            {% for v in value %}
            {{v}} <br>
            {% endfor %}
            {% endif %}
            {% endfor %}
          </div>
      </div>
      {% endfor %}
    </div>
    <input type="submit" value="Submit">
  </form>
</div>


{% endblock %}
