{% extends "work/work_base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block prework %}

{% endblock %}

{% block work_content %}
<div class="container">


<div class="row">

</div>
<h3>Viewing shifts</h3>

<div class='row'>
  <div class="col-2">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dateRange" aria-expanded="false" aria-controls="collapseExample">
      Change dates?
    </button>
  </div>

<div class="col collapse" id="dateRange">

    <form class="" action="" method="post">
      	{% csrf_token %}
        {{date_form.non_field_errors}}
        <div class='col'>{{date_form.begin|add_class:"form-control"}}</div>
        <div class='col'>{{date_form.end|add_class:"form-control"}}</div>
        <div class='col'><input class='btn btn-primary' type="submit" name="" value="Go"></div>
    </form>
</div>
</div>

{% regroup object_list by date as date_list %}
<div class="row">

    <div class="list-shift-item-text">
    {% for date, shift_list in date_list  %}
        <a href={% url 'shifts:date_summary' date_summary=date %}><p class="shiftListDate"> {{date|date:"l, F j"}}<p></a>

<ul>
        {% for shift in shift_list %}
      <li>
        <a class='list-shift-item' href="{% url 'shifts:update' pk=shift.pk %}">
          <span class='title list-shift-item-heading'>{{shift.driver|safe}} + {{shift.helper|safe}} {% if shift.helper_2 %} + {{shift.helper_2}} {%endif%} | {{shift.dr_start_time}} - {{shift.dr_end_time}} | {{shift.shift_length}} hrs | {{shift.jobs_in_shift.count}} jobs</span>
        </a>
        <a href="{% url 'shifts:single_shift' pk=shift.pk %}">Print</a>
      </li>
        {% endfor %}
  </ul>
  {#  Add more description?#}

    {% endfor %}
    </div>
    </div>
</div>
</div>
{% endblock %}
