{% extends "work/work_base.html" %}
{% load staticfiles %}

{% load widget_tweaks %}

{% block prework %}
<!-- Include formset plugin - including jQuery dependency -->
{% endblock %}

{%block work_content%}

<div class="container">


  <form method="POST" action="" id="batchJobForm">
  	{% csrf_token %}


    <table id='addShift' class='table table-sm'>
        <tr>
            <td>{{shift_form.driver|add_class:"locationSelector"}}</td>
            <td>{{shift_form.helper|add_class:"locationSelector"}}</td>
            <td>{{shift_form.truck}}</td>
            <td>{{shift_form.date}}</td>
          </tr><tr>
            <td>{{shift_form.dr_start_time}}</td>
            <td>{{shift_form.dr_end_time}}</td>
            <td>{{shift_form.he_start_time}}</td>
            <td>{{shift_form.he_end_time}}</td>
        </tr>
    </table>
      {{ formset.management_form }}

      {%for job_f in formset %}
  <table id='addJob' class='table table-sm'>
    <tbody>{{job_f.id}}
    <tr>

      <td>Location: {{job_f.job_location|add_class:"locationSelector"}}</td>
      <td>Start time: {{job_f.start_time}}</td>
      <td>End time: {{job_f.end_time}}</td>
    </tr>
    </tbody>
  </table>
      {%endfor %}

  	<input type="submit" value="Update" class="btn btn-primary btn-large">
  </form>


</div>

{%endblock%}
