{% extends "work/work_base.html" %}

{% block prework %}

    <div class="content">

      {% if user.is_authenticated %} <em><h4>Welcome Back! @{{user.username}}</h4></em>
            <h2>Shifts List View <a href="{%url 'shifts:create'%}" class='btn btn-sm btn-fill btn-primary'> <span class='glyphicon glyphicon-plus-sign'> New Shift</span> </a> </h2>
      {% endif %}

    </div>

    {% if user.is_authenticated %}

    {% endif %}

{% endblock %}

{% block work_content %}

<div id={{class}}>

<h3>Date selector:</h3>
<div class="">
<form class="" action="" method="post">
  	{% csrf_token %}
  {{date_form.begin}}
  {{date_form.end}}

  <input type="submit" name="Search" value="Search">
</form>
</div>

{% regroup object_list by date as date_list %}

    <h3>View shifts:</h3>
    <div class="list-shift-item-text">
    {% for date, shift_list in date_list  %}
        <p class="shiftDate">{{date|date:"F, l j"}}<p>

<ul>
        {% for shift in shift_list %}
      <li>
        <a class='list-shift-item' href="{% url 'shifts:update' pk=shift.pk %}">
          <p class='title list-shift-item-heading'>{{shift.driver|safe}} + {{shift.helper|safe}} ({{shift.jobs_in_shift.count}} jobs)</p>
        </a>
      </li>
        {% endfor %}
  </ul>
  {#  Add more description?#}

    {% endfor %}
    </div>
</div>
{% endblock %}
