{% extends "base.html" %}


{% block content  %}
<style>
.yui3-button {
    margin:10px 0px 10px 0px;
    color: #fff;
    background-color: #3476b7;
}
</style>


  {% if user.is_authenticated %}
  <div class='container'>
    <h2>Welcome to MobS</h2>
    <h5><em>Mobile Sweep job tracking system</em></h5>
<div class="jumbotron">
  <div id="demo" class="yui3-skin-sam yui3-g"> <!-- You need this skin class -->

    <div id="leftcolumn" class="yui3-u">
       <!-- Container for the calendar -->
       <div id="mycalendar"></div>
    </div>
    <div id="rightcolumn" class="yui3-u">
     <div id="links" style="padding-left:20px;">
        <!-- The buttons are created simply by assigning the correct CSS class
        <button id="togglePrevMonth" class="yui3-button">Toggle Previous Month's Dates</button><br>
        <button id="toggleNextMonth" class="yui3-button">Toggle Next Month's Dates</button><br> -->
        Shifts for: <span id="selecteddate">Select a date</span> | <a href="{% url 'shifts:all' %}">last 30 days</a> | <a href="{% url 'shifts:next' %}">next 30 days</a>
     </div>
    </div>
  </div>
  <div class='row'>
      <div class='col-6'>
         <a href="{% url 'shifts:create' %}">Log new shift and jobs</a> | <a href="{% url 'shifts:batchshift' %}">Batch new shifts (no jobs)</a>
      </div>
      <div class='col-6'>
        Job costing report
          <form class="" action="" method="post">
              {% csrf_token %}
              {{form.non_field_errors}}
              {{form.begin}}
              {{form.end}}
              <input class='btn btn-primary payrollDateButton' type="submit" name="" value="Go">
          </form>
      </div>
    </div>
    <div class="row">
      <div class='col-6'> <a href="{% url 'shifts:payroll_list' %}">Weekly payroll reports</a></div>
      <div class='col-6'> <a href="{% url 'shifts:properties' %}">Property List</a> | <a href="{% url 'shifts:inspections' priority=1 %}">Property Inspections</a></div>
    </div>
  </div>

</div>
</div>

<script type="text/javascript">
YUI().use('calendar', 'datatype-date', 'cssbutton',  function(Y) {

    // Create a new instance of calendar, placing it in
    // #mycalendar container, setting its width to 340px,
    // the flags for showing previous and next month's
    // dates in available empty cells to true, and setting
    // the date to today's date.
    var calendar = new Y.Calendar({
      contentBox: "#mycalendar",
      width:'340px',
      showPrevMonth: true,
      showNextMonth: true,
      date: new Date()}).render();

    // Get a reference to Y.DataType.Date
    var dtdate = Y.DataType.Date;

    // Listen to calendar's selectionChange event.
    calendar.on("selectionChange", function (ev) {

      // Get the date from the list of selected
      // dates returned with the event (since only
      // single selection is enabled by default,
      // we expect there to be only one date)
      var newDate = ev.newSelection[0];

      // Format the date and output it to a DOM
      // element.
      Y.one("#selecteddate").setHTML("<a href='/work/date/"+dtdate.format(newDate)+"'>"+dtdate.format(newDate)+"</a>");
    });


    // When the 'Show Previous Month' link is clicked,
    // modify the showPrevMonth property to show or hide
    // previous month's dates
    Y.one("#togglePrevMonth").on('click', function (ev) {
      ev.preventDefault();
      calendar.set('showPrevMonth', !(calendar.get("showPrevMonth")));
    });

    // When the 'Show Next Month' link is clicked,
    // modify the showNextMonth property to show or hide
    // next month's dates
    Y.one("#toggleNextMonth").on('click', function (ev) {
      ev.preventDefault();
      calendar.set('showNextMonth', !(calendar.get("showNextMonth")));
    });
});
</script>

    {% else %}

  {% endif %}


{% endblock %}
